.container{
    width: 1170px;
    height: auto;
    margin:0 auto;
}
.container .header{
    width: 1170px;
    height: 200px;
    background-color: #704241;
}
.container .contentrow{
    width:1170px;
    height: auto;
}
.container .contentrow .content1{
    width: 390px;
    height: 200px;
    background-color: #d3d3d3;
    float: left; 
}
.container .contentrow .content2{
    width: 390px;
    height: 200px;
    background-color: #cbb9aa ; 
    float: left;
}
.container .contentrow .content3{
    width: 390px;
    height: 200px;
    background-color: #d59890 ; 
    float: left;
}
.container .contentrow2{
    width:1170px;
    height: auto;
}
.container .contentrow2 .content4{
    width: 780px;
    height: 200px;
    background-color: #bee1cf;
    float: left; 
}
.container .contentrow2 .content5{
    width: 390px;
    height: 200px;
    background-color: #65b3aa ;
    float: left; 
}

